## Проект по курсу "Базы данных-1"

#### Давайте попробуем хранить параллельный выровненный корпус на несколько языков.

Введем какие-то данные.

In [12]:
eng_texts = ['I don\'t like chocolate.',
            'My dearest Barbara Alexievna!']

In [72]:
esp_texts = ['No me gusta el chocolate.',
            'I querida Barbara Alexievna!']

In [14]:
de_texts = ['Ich mag die Schokolade nicht.',
           'Meine teure Warwara Alexejewna!']

Создаем базу, соединяем с сервером.

In [1]:
import pymysql.cursors

In [3]:
conn = pymysql.connect(host='sql7.freemysqlhosting.net',
                             user='sql7302342',
                             password='password',
                             db='sql7302342',
                             cursorclass=pymysql.cursors.DictCursor)
cur = conn.cursor()

In [4]:
cur.execute('SHOW DATABASES;')

2

In [5]:
cur.execute('SHOW TABLES;')

0

Создадим таблицы.

In [196]:
cur.execute("CREATE TABLE if not exists eng_esp (english text, spanish text)")

0

In [197]:
cur.execute("CREATE TABLE if not exists eng_de (english text, german text);")

0

In [198]:
for eng_sent, de_sent in zip(eng_texts, de_texts):
    cur.execute('INSERT INTO eng_de VALUES(%s, %s);', [eng_sent, de_sent])

In [199]:
for eng_sent, esp_sent in zip(eng_texts, esp_texts):
    cur.execute('INSERT INTO eng_esp VALUES(%s, %s);', [eng_sent, esp_sent])

In [200]:
conn.commit()

In [201]:
cur.execute('SELECT * FROM eng_esp')

2

In [202]:
cur.fetchall()

[{'english': "I don't like chocolate.",
  'spanish': 'No me gusta el chocolate.'},
 {'english': 'My dearest Barbara Alexievna!',
  'spanish': 'I querida Barbara Alexievna!'}]

Создадим какие-то функции.

In [101]:
#добавить пару в какую-то таблицу
def add_pair(table_name, sent1, sent2):
    if table_name == 'eng_esp':
        cur.execute('INSERT INTO eng_esp VALUES(%s, %s);', [sent1, sent2])
    elif table_name == 'eng_de':
        cur.execute('INSERT INTO eng_de VALUES(%s, %s);', [sent1, sent2])
    conn.commit()

In [240]:
add_pair('eng_de', 'Martin is 20 years old.', 'Martin ist 20 Jahres alt.')

In [241]:
cur.execute('SELECT * FROM eng_de')

3

In [242]:
cur.fetchall()

[{'english': "I don't like chocolate.",
  'german': 'Ich mag die Schokolade nicht.'},
 {'english': 'My dearest Barbara Alexievna!',
  'german': 'Meine teure Warwara Alexejewna!'},
 {'english': 'Martin is 20 years old.', 'german': 'Martin ist 20 Jahres alt.'}]

In [144]:
#удалить пору
def delete_pair(table_name, sent):
    
        if table_name == 'eng_esp':
            cur.execute("DELETE FROM eng_esp WHERE english = '%s';" % sent)
            
        elif table_name == 'eng_de':
            cur.execute("DELETE FROM eng_de WHERE english = '%s';" % sent)
            
        conn.commit()

Попытка поговорить с пользователем.

In [171]:
def hello_user():
    
    user_lang = input('''Type 1 to see English-Spanish corpora.\n
    Type 2 to see English-German corpora. \n''')
    
    if user_lang not in ['1', '2']:
        user_lang = input('Please type 1 or 2! \n')
        
    if user_lang == '1':
        cur.execute('SELECT * from eng_esp')
        for i in cur.fetchall():
            print(i)
    
    elif user_lang == '2':
        cur.execute('SELECT * from eng_de')
        for i in cur.fetchall():
            print(i) 
    
    user_query = input('Type 3 if u want to add pair to corpora. \n')

    if user_query == '3':
        user_adding = input('''Type: eng_de or eng_esp, phrase in English, phrase in German/Spanish.
        Use commas.\n''')
        lang, phrase, translation = user_adding.split(',')
        add_pair(lang, phrase, translation)
        cur.execute('SELECT * FROM ' + lang)
        for i in cur.fetchall():
            print(i)
        
    else:
        print('Okay bye')

In [172]:
hello_user()

Type 1 to see English-Spanish corpora.

    Type 2 to see English-German corpora.
2
{'english': "I don't like chocolate.", 'german': 'Ich mag die Schokolade nicht.'}
{'english': 'My dearest Barbara Alexievna!', 'german': 'Meine teure Warwara Alexejewna!'}
{'english': 'I have a cat', 'german': 'Ich habe ein Kater'}
{'english': 'yes', 'german': 'ja'}
Type 3 if u want to add pair to corpora.
3
Type: eng_de or eng_esp, phrase in English, phrase in German/Spanish.
        Use commas.
eng_de,no,nein
{'english': "I don't like chocolate.", 'german': 'Ich mag die Schokolade nicht.'}
{'english': 'My dearest Barbara Alexievna!', 'german': 'Meine teure Warwara Alexejewna!'}
{'english': 'I have a cat', 'german': 'Ich habe ein Kater'}
{'english': 'yes', 'german': 'ja'}
{'english': 'no', 'german': 'nein'}

In [179]:
cur.execute('DROP TABLE eng_esp')
cur.execute('DROP TABLE eng_de')
conn.commit()

Попытаемся получить перевод нужной нам фразы.

In [244]:
def get_translation(lang, phrase):
    
    if lang == 'spanish':
        cur.execute('SELECT spanish FROM eng_esp WHERE english = %s;', phrase)
        for i in cur.fetchall():
            print(i['spanish'])
    
    elif lang == 'german':
        cur.execute('SELECT german FROM eng_de WHERE english = %s;', phrase)
        for i in cur.fetchall():
            print(i['german'])
    
    else:
        print('Sorry, seems like there is no such translation.')

In [220]:
get_translation('spanish', 'My dearest Barbara Alexievna!')

I querida Barbara Alexievna!

Попытаемся найти все переводы для одной фразы.

In [249]:
def all_translations(phrase):
    #используем using потому что в таблицах ключевой столбец имеет одно и то же имя
    cur.execute('SELECT * FROM eng_esp INNER JOIN eng_de using(english) WHERE english = %s;', phrase)
    for i in cur.fetchall():
        print('Spanish: ' + i['spanish'], '\nGerman: ' + i['german'])

In [239]:
all_translations('My dearest Barbara Alexievna!')

Spanish: I querida Barbara Alexievna!
German: Meine teure Warwara Alexejewna!

In [173]:
cur.close()
conn.close()